
@{
    ViewData["Title"] = "bd_funcionario";
}
<h1>Ola Bem - Vindo, @ViewBag.nome!</h1>

<p>Informacoes Cadastradas :</p>
<p>Nome Completo : @ViewBag.nome</p>
<p>Cargo : @ViewBag.cargo</p>
<p>Salario : @ViewBag.salario</p>
<p>Codigo de Indentificacao: @ViewBag.codigo</p>

